.container {
    background: #ccc;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.timer {
   font-size: 6rem;
   color: red;
}

button {
    height: 50px;
    width: 150px;
}
button.play {
    background-color: green;
}
button.pause {
    background-color: red;
    color: white;
}
button.reset {
    background-color: white;
}
button:hover {
    background-color:yellow;
    color: black;
    cursor: pointer;
}

.break {
    
    text-align: center;
    color: blue;
    font-size: 4rem;
}