*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    background: #ccc;
    height: 100vh;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.timer {
   font-size: 6rem;
   color: red;
   margin-bottom: 100px;
}

.break {
    text-align: center;
    color: blue;
    font-size: 4rem;
}



button {
    height: 50px;
    width: 150px;
 
}
button.play {
    background-color: green;
}
button.pause {
    background-color: red;
    color: white;
}
button.reset {
    background-color: white;
}
button:hover {
    background-color:yellow;
    color: black;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    position: fixed;
    bottom: 0;
    background: rgb(112, 97, 97);
    color: white;
    height: 100px;
    width: 100%;
 
}
footer span{
    margin: 10px;
}
a {
    color: rgb(0, 255, 115);
}